ACTION=="add", SUBSYSTEM=="usb", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01", RUN+="/usr/sbin/insmod /root/assignment_04/usb_keyboard_module.ko"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01",RUN+="/usr/sbin/rmmod usb_keyboard_module"
